{% load bootstrap_toolkit %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% bootstrap_stylesheet_tag %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.utils.js"></script>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<h1>My Newscred API and Django Test Site</h1>
{% block content %}{% endblock %}
{% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
{% endblock %}
</body>
</html>