<style type="text/css">
    .related_topics{
        height: 180px;
        padding: 2px;
    }
    .related_topics_block{
        padding: 2px;
        float: left;
    }
    .topic{
        width: 1024px;
        min-height: 80px;
    }
    .topic_thumb{
        float: left;
        padding: 4px;
    }

    .change_title{
        display: none;
    }
</style>

{% extends "layout/base.html" %}
{% block title %}Topic Details{% endblock %}

{% block content %}

{% load newscred_extras %}

<h1>
    <div class="topic_title">
        {{ topic.topic_group }}
    </div>
    <div class="change_title">
        <form action="." method="get" id="topic_update_form">
            <input type="text" name="title"  id="title" value="" />
            <input type="hidden" name="guid"  id="title" value="{{ topic.guid }}" />
            <input type="submit" value="save" class="btn"/>
        </form>
    </div>
</h1>

{% topic_detail  topic.guid %}

<br/>
Short URL: <a href="{{ topic.link }}"> {{ topic.link|shorter_url }}</a>

<br/>

{% if related_topics %}
<div class="related_topics">
    <h1>Related Topics</h1>
    {% for  related_topic in related_topics %}
    <div class="related_topics_block">
        <a href="/newscred/{{ related_topic.guid }}/">
            <img src="{{ related_topic.image_url }}"/>
            <br/>
            {{ related_topic.topic_group }}
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

<br/>
<a href="/newscred/">back to search</a>
{% endblock %}